body {
  background-color: #f8f9fa;
}

.no-wrap {
  white-space: nowrap;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.imgContain {
  object-fit: contain;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 150px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  overflow: hidden;
}

.card-text {
  font-size: 0.9rem;
  height: 3em;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.price {
  font-weight: bold;
  color: #f7ad45;
  font-size: 1.5rem;
  margin-top: auto;
}

.productLink {
  text-decoration: none;
  color: black;
}

.btnn {
  border-radius: 0 20px 20px 0;
  background-color: #657c6a;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 5px;
}



@media (max-width: 768px) {
  .sortDrop,
  .filterDrop {
    max-width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .navbar-search {
    width: 100%;
    margin-bottom: 1rem;
  }

  .navbar-search input {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .card-title {
    font-size: 0.9rem;
  }

  .search {
    width: 50% !important;
  }
}
