body {
  padding-top: 3rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.navbar-brand img {
  border-radius: 8px;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: #657c6a !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar-nav .nav-link:hover {
  color: #a2b9a7 !important;
}

.nav-link span {
  margin-right: 4px;
}

.form-control:focus {
  border-color: #a2b9a7 !important;
  box-shadow: 0 0 0 0.2rem rgba(162, 185, 167, 0.25) !important;
  outline: none;
}

.navbar-search input {
  border-radius: 20px 0 0 20px;
}

.search {
  border-radius: 20px 0 0 20px;
  border: 1px solid #a2b9a7;
  padding: 5px 0 5px 20px;
  width: 30%;
}


.navbar-nav .nav-link {
  border-radius: 10px;
  padding: 5px 10px;
  transition: background-color 0.1s ease;
}

.navbar-nav .nav-link:hover {
  background-color: rgba(162, 185, 167, 0.2);
}


.navbar-nav .nav-link span {
  transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover span {
  transform: scale(1.3);
}


@media (max-width: 768px) {
    .search {
    width: 50% !important;
  }



}

@media (max-width: 576px) {
  .search {
    width: 50% !important;
  }
}
