
.wishlist-title {
  color: #bb3e00;
}

.wishlist-count {
  color: #657c6a;
  font-weight: 500;
  font-size: 1.2rem;
}

.card-title {
  color: #657c6a;
}

.custom-button {
  background-color: #a2b9a7;
  border-color: #a2b9a7;
  color: white;
}

.custom-button:hover {
  background-color: #91a696;
}

.nav-link {
  cursor: pointer;
}
