* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #333;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  padding-top: 70px;
  background: linear-gradient(
      135deg,
      rgba(139, 69, 19, 0.7),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://images.unsplash.com/photo-1512820790803-83ca734da794");
  background-size: cover;
  background-position: center;
}

.btnn {
  background-color: #8b4513;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
}

.sidebar {
  position: fixed;
  top: 4.1rem;
  left: 0;
  width: 250px;
  height: 100vh;
  background: #657c6a;
  color: white;
  padding-top: 1rem;
  z-index: 1000;
  border-right: 1px solid #ccc;
}

.sidebar .nav-item {
  display: flex;
  align-items: center;
  padding: 12px 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: background-color 0.3s;
}

.sidebar .nav-item:hover,
.sidebar .nav-item.active {
  background-color: #8b4513;
  color: #fff;
}

.sidebar .nav-item i {
  font-size: 20px;
  margin-right: 12px;
}

.nav-text {
  display: inline-block;
  color: #fff;
}

.content {
  margin-left: 250px;
  width: calc(100% - 250px);
  padding: 20px;
  background: rgba(255, 245, 238, 0.9);
  min-height: 100vh;
  transition: opacity 0.4s ease;
  opacity: 0;
}

.content.loaded {
  opacity: 1;
}

@media (max-width: 768px) {
  .sidebar {
    width: 70px;
  }

  .sidebar .nav-item {
    justify-content: center;
    padding: 12px 0;
  }

  .sidebar .nav-item i {
    margin: 0;
  }

  .sidebar .nav-text {
    display: none;
  }

  .content {
    margin-left: 70px;
    width: calc(100% - 70px);
    padding: 10px;
  }

  .toggle-btn {
    display: block;
    position: fixed;
    background: transparent;
    top: 10px;
    left: 10px;
    z-index: 1100;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .toggle-btn {
    display: none;
  }

  .content {
    width: calc(100% - 250px);
  }
}
